.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.vscode/
/config/*
# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
*.sln
TmkMordorGate/bin/
TmkMordorGate/obj/
.idea/
TmkMordorGate/Properties/launchSettings.json
TmkMordorGateTest/bin/
TmkMordorGateTest/obj/
TmkMordorGateTest/appsettings.json
TmkMordorGateTest/config/
TmkMordorGate.sln.DotSettings.user
TmkMordorGateTest/test_settings_local.json 
TmkMordorGateConsole/*